<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DCUpdate.Properties.Settings.amodConnectionString" connectionString="server=localhost;User Id=root;password=1207pegazo;Persist Security Info=True;database=amod" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
